@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');
body{
  margin:0;
  padding:0;
}
.hero-sect{
  height:500px;
  width:100%;
  background-image: url("../images/hero-pic.jpg");
  background-size: cover;
  background-position: center top;
}
.donation-amounts{
  text-align: right;
  width:100%;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0 0 0;
}
.donations-sect{
  overflow: auto;
}
.donation-label{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  float:right;
  width: 225px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
.donation-label-amount{
  width: 120px;
  float: right;
  text-align: center;
  font-size: 18px;
  padding: 0 0 0 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #3f9c01;
}
.your-support-sect{
  width:100%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  background-color:#fff;
  overflow: auto;
  margin: -135px 0 0 0;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24);
}
.your-support-label{
  background-color:#5fb660;
  width: 25%;
  float:left;
  padding: 40px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-align: right;
  color:#fff;
  text-transform: uppercase;
  border-radius: 10px 0 0 10px;
  min-height: 150px;
}
.goal-raised{
  width:75%;
  float:left;
  padding: 20px;
  min-height: 150px;
}
.progress-amount{
  font-size:30px;
  font-weight:bold;
  color:#468cc8;
}
.raised-money-label{
  text-align: left;
  font-size:18px;
  width:100%;
  font-family: 'Montserrat', sans-serif;
  color:#333333;
}
.raised-money-label-amount{
  text-align: right;
  font-size:18px;
  width:100%;
  font-family: 'Montserrat', sans-serif;
  color:#468cc8;
}
.donation-info-sect{
  padding: 50px 0;
  background: #eef1f5;
}
.donation-number{
  width: 25px;
  height: 25px;
  background-color: #5fb660;
  border-radius: 60px;
  color:#fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 2px 0 0 0;
  margin: 10px 0 0 0;
  display: block;
  float:left;
}
.section-titles{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color:#000;
  float:left;
  margin: 0 0 0 10px;
}
#donation-info{
  padding: 50px 0 40px;
  font-family: 'Montserrat', sans-serif;
}
.donation-radio{
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 5px;
  background-color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.donation-radio ul{
  padding:10px;
  margin:10px;
}
.donation-radio li{
  display: inline;
  margin: 0 30px;
}
.donation-amount-check-label{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin: 0 20px  0 0;
}
.custom-checkbox{
  padding: 0px 10px 10px;
  border-bottom: 1px solid #eef1f5;
  margin: 0 0 15px 0;
}
.divChecked {
  box-shadow: 4px 6px 4px #b0b0b0;
}
.custom-control-input{
  float: right;
}
.per-month-box{
  margin: 20px 0 0 0;
  padding: 20px;
  background-color: #fff;
}
.donation-title{
  color:#468cc8;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 0 0 10px 0;
}
.donation-details{
  padding: 0;
  margin: 0;
}
.donation-details ul{
  padding: 0;
  margin: 0;
}
.donation-details li{
  margin: 0 0 20px 0;
  display: block;
}
.custom-donation-sect{
  background-color:#dee1e6;
  border-top:1px solid #cdd0d5;
  border-bottom:1px solid #cdd0d5;
  padding: 20px 0;
}
.display-amount{
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 0 15px;
}
.display-amount-box{
  padding: 10px 5px 0;
}
.dedication-type{
  background-color:#fff;
}
.dedication-inputs{
  padding: 20px 0;
}
.dedication-input-col{
  margin: 10px 0 20px;
}
.dedication-sect{
  padding: 50px 0;
}
.btn-donation{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  padding: 30px 0;
}
.recent-donations-sect{
  background-color:#eef1f5;
  padding: 50px 0;
}
.recent-donation-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}
.recent-donators{
  padding:20px;
  background-color:#fff;
  width: 60%;
  margin: 5px auto;
  overflow: auto;
}
.donators-initials{
  border-radius: 60px;
  box-shadow: 2px 2px 5px #999;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color:#60b760;
  width:50px;
  height:50px;
  float: left;
  padding: 13px;
  margin: 0 10px 0 0;
}
.donator-name-date {
  float: left;
  font-family: 'Montserrat', sans-serif;
  margin: 18px 0 0 10px;
  line-height: 14px;
}
.donator-name{
  font-size: 18px;
  color:#000;
}
.recent-donation-date{
  font-size: 12px;
  color:#60b760;
}
.donation-amount{
  float:right;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.see-more-btn{
  text-align: center;
  padding: 10px 0;
}
.viewing-count{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.footer{
  background-color:#383838;
  text-transform: uppercase;
  color:#fff;
  padding: 60px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: center;
}
@media (max-width: 1200px) {
  .recent-donators{
    padding:20px;
    background-color:#fff;
    width: 90%;
    margin: 5px auto;
    overflow: auto;
  }
  .donation-label-amount {
    width: 29%;
  }
  .goal-raised {
    width: 60%;
    min-height: 130px;
  }
  .your-support-label {
    background-color: #5fb660;
    width: 35%;
    font-size: 16px;
    line-height: 18px;
    min-height: 130px;
  }
  .raised-money-label-amount {
    text-align: right;
    font-size: 12px;
  }
  .raised-money-label {
    text-align: left;
    font-size: 12px;
  }
  .progress-amount {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .donation-radio {
    padding: 5px;
  }
  .donation-label-amount {
    width: 30%;
    font-size: 12px;
  }
  .btn-donation {
    font-size: 14px;
  }
  .donation-label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    width: 50%;
  }
  .your-support-label {
    background-color: #5fb660;
    width: 35%;
    font-size: 10px;
    line-height: 12px;
    min-height: 130px;
  }
  #donation-info {
    padding: 0 0 40px;
    font-family: 'Montserrat', sans-serif;
  }
  .your-support-sect{
    display: none;
  }
  .section-titles {
    font-size: 24px;
    margin: 5px 0 0 10px;
  }
  .donation-radio li {
    display: inline;
    margin: 0 5px;
  }
}
